@import url('https://fonts.googleapis.com/css2?family= Righteous & display=swap') ;
@import url('https://fonts.googleapis.com/css2? família= Caprasimo &family= Righteous & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(#275597 , #8cacd4 ,#bac6d4);
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    }

logo_1{
    height: 72px;
    }

.cabecalho-menu {
    display: flex;
    gap: 32px;
    
    }

.cabeçalho-menu-item{
    color: #FFF2E7;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    }

.conteúdo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
    margin-top: 10px; 
    margin-bottom: 10px;
    }
      

.conteúdo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px; 
    margin-bottom: 35px;
    }

.conteúdo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

.conteúdo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
    }

.conteúdo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
    }

 .botao-simples {
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    }
      
.botao-simples:hover {
    background-color: #2980b9;
    }
      
.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    
    }

.conteúdo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
    }

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 250;
    font-size: 18px;
    color: #fff;
    }


   